@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light only !important;
  color: rgba(255, 255, 255, 0.94);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --color-app_primary: #467400;
    --color-app_secondary: #D1F4BC;
    --color-app_tertiary: #85da66;
    /* ... */
  }
}

body {
  background-image: url('./assets/nosh_bg_v.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-y: scroll;
  padding-bottom: 5rem;
}

html {
  height: 100%;
  width: 100%;
}
